/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }









@media only screen and (min-width: 35em) {

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}





@charset "utf-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}


/*-==========my css=================-*/

body{
	background:url(../img/light_wool.png) repeat;
	font-size:13px;
}
input, select {
    vertical-align:middle;
}
a{
	text-decoration:none;
	outline:none;
	color:#4c4;
}
.left{float:left;}
.right{float:right;}
.hide{display:none;}
.clear{clear:both;}
.center{text-align:center;}
.footer{
	position:fixed;
	bottom:0;
	width:100%;
	background-color:#eee;
}
.header{
	position:fixed;
	top:0;
	width:100%;
	text-align:center;
	background-color:#8ac388;
	color:white;
}
.header  a{
	color:white;
}
.header h1{
	font-size:1.3em;
	text-shadow:0 1px 0 #000;
	display:inline;
}
.header div{
	padding:10px;
}
body > section{
	padding-bottom:30px;
	padding-top:40px;
}

form{
	
}
.line{
	border:1px solid #ccc;
	border-radius:3px;
	box-shadow:0 0 10px #ddd;
	margin:10px;
	padding-top:8px;
	padding-bottom:8px;
}
.line-btn{
	background:#6c6;
	margin-top:25px;
}
.line-btn input,.line-btn a{
	color:white;	
}
input,button,textarea{
	outline:none;
	border:none;
	font-size:100%;
	width:98%;
	background:transparent;
	border:none;
}
textarea{
	resize:none;
}
input[type="text"],input[type="password"]{
	
}

input[type=submit]{
	
}
input[type=submit]:active{
	opacity:0.8;
}
.header .btn{
	border:1px solid #000;
	box-shadow:0 0 2px #000;
	padding:3px 10px;
	background:#000 url(../img/tasky_pattern.png) repeat;
	border-radius:3px;
	position:absolute;
}
.header .left{
	left:10px;
}
.header .right{
	right:10px;
}
#login,#register{
	padding-top:20px;
}
#login .footer div,#register .footer div,#classes .footer div,#edit-class .footer div,#edit-info .footer div,#stu-list .footer div{
	padding:10px;
}

#login button{margin:0;}

.footer .toolbar a{
	color:#000;
}
.footer .toolbar span{
	width:33.1%;
	padding:10px 0;
	
	display:inline-block;
	text-align:center;
}
.footer .toolbar span.on{
	background:url(../img/outlets.png) repeat;
	color:white;
}

.footer .toolbar span.left{
	border-right:1px solid #ccc;
	box-shadow:1px 0 2px #fff,-1px 0 2px #fff;
}

#buzz-list{
	padding:10px;
}
#buzz-list article{
	background-color:#f4f4f4;
	line-height:18px;
	border-radius:3px;
	padding:5px;
	margin-bottom:15px;
	text-shadow:0 1px 0 #fff;
}

#buzz-list article img{
	margin-right:4px;
	border-radius:3px;
	display:block;
	float:left;
	width:32px;
}
#add-buzz textarea{
	height:200px;
}
#add-buzz .header{
	padding-bottom:5px;}
	
.line-row{
	padding:5px;
}

#edit-class textarea{
	height:100px;
}

#edit-info input{
	width:30px;
	border-bottom:1px solid #000;
	text-align:center;
}

#stu-list{}
.apply-list{
	border:1px dashed #ddd;
}

ul.line{
	list-style:none;
}

.tmpl{
	display:none;
}
.loading{
	text-align:center;
}